* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: rgb(27, 31, 58);
  --color-2: rgb(83, 53, 74);
  --color-3: rgb(166, 73, 66);
  --color-4: rgb(255, 120, 68);
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

a {
  color: black;
  text-decoration: none;
}

header {
  padding: 16px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-1);
  grid-column: 2 / 5;
}

.sb-container {
  background-color: var(--color-2);
  height: 100vh;
  grid-row: 1 / 5;
  padding: 18px;
}

.sidebar {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1 {
  display: inline;
}

.sb-header {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  width: 600px;
  height: 1.5rem;
  border: none;
  border-radius: 15px;
}

.user-quickbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-quickbar #avatar {
  height: 40px;
  width: 40px;
  background-color: azure;
  border-radius: 100%;
}

.lower-nav {
  display: flex;
  justify-content: space-between;
}

.lower-nav #big-avatar {
  height: 64px;
  width: 64px;
  background-color: #fff;
  border-radius: 100%;
}

.bio {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav h2 {
  display: inline;
}

.icon {
  height: 30px;
  width: 30px;
}

.content {
  background-color: var(--color-3);
}




