* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #222831;
  --color-2: #393E46;
  --color-3: #d8d8d8;
  --color-4: rgb(255, 120, 68);
  --color-5: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  overflow: hidden;
}

a {
  color: rgb(226, 226, 226);
  text-decoration: none;
}

header {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  grid-column: 2 / 6;
  box-shadow: 0px 15px 5px black;
}

.sb-container {
  color: white;
  background-color: var(--color-2);
  height: 100%;
  grid-row: 1 / 6;
  padding: 0px 8px;
}

.sidebar {
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.sidebar h1 {
  display: inline;
}

.sb-header {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  background-color: #d8d8d8;
  width: 600px;
  height: 1.5rem;
  border: none;
  border-radius: 15px;
}

.user-quickbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-quickbar #avatar {
  height: 40px;
  width: 40px;
  background-color: rgb(128, 161, 161);
  border-radius: 100%;
}

.lower-nav {
  display: flex;
  justify-content: space-between;
}

.lower-nav #big-avatar {
  height: 64px;
  width: 64px;
  background-color: rgb(128, 161, 161);
  border-radius: 100%;
}

.bio {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 36px;
}

button {
  background-color: var(--color-4);
  font-size: 16px;
  border: none;
  padding: 8px 24px;
  border-radius: 32px;
}

button:hover {
  cursor: pointer;
}

nav h2 {
  display: inline;
}

.icon {
  height: 30px;
  width: 30px;
}

.content {
  background-color: var(--color-3);
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-row: 2 / 6;
}

.projects {
  background-color: var(--color-3);
  padding: 12px;
}

.card-container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  height: 93%; 
}

.card {
  font-size: 14px;
  background-color: var(--color-5);
  padding: 12px;
  border-radius: 8px;

  -webkit-box-shadow: -4px 0px 0px 0px rgba(255,118,68,1);
  -moz-box-shadow: -4px 0px 0px 0px rgba(255,118,68,1);
  box-shadow: -4px 0px 0px 0px rgba(255,118,68,1);
}

.card p {
  margin: 12px 0;
}

.card img {
  float: right;
  margin: 0px 8px;
}

.right-bar {
  padding: 16px 12px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.announcements .card {
  margin-top: 8px;
}

.trending-card #avatar {
  background-color: #fff;
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.trending-card {
  padding: 12px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: var(--color-5);
  padding: 12px;
  border-radius: 8px;
  margin-top: 5px;
}

.users-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.trending-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.trending-info #quote {
  color: #2f363f;
}





